<% include  partials/header.ejs %>
<div class="compose_container">
  <h1 style="font-size: 50px;" class="composeHeader">Update</h1>

  <form action="/update_details" method="post">
    <div class="mb-3">
      <label for="title" class="form-label" style="font-size: 20px;">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="update_title" value="<%= details.title %>">
    
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"  style="font-size: 20px;">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="update_post"><%= details.content %></textarea>
      </div>
    
    <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px; margin-top: 10px;" value="<%= details._id %>" name="up_btn">Update</button>

  </form>
</div>


<% include partials/footer.ejs %>